<nav #nav class="nav">
  <div id="jcva-sidenav" class="sidenav">
    <div class="text-right"></div>

    <div class="sidenav-header">
      <div class="logo">
        <a (click) = "navigateTo('my-vault')"><img src="assets/logos/Logo_Vault_Default.svg" alt="vault-logo" /></a>
      </div>
      <div class="close-btn">
        <a (click)="sidenavOverlayClicked()">
          <i class="fas fa-angle-left fa-3x"></i>
        </a>
      </div>
    </div>
    <div class="navi-links mt-5">
      <div class="navi-item">
        <a
          #navAccount
          class="navi-link"
          data-bs-toggle="collapse"
          href="#collapseAccount"
          role="button"
          aria-expanded="false"
          aria-controls="collapseAccount"
          (click)="navItemClicked(navAccount)"
        >
          <img src="assets/icons/Icon_Vault.svg" alt="" />
          <div>
            <p>My Vault</p>
          </div>
          <img
            class="arrow-icon"
            src="assets/icons/Icon_Arrow Right.svg"
            alt=""
          />
        </a>
        <div class="collapse" id="collapseAccount">
          <div class="subnavi">
            <div
              *ngFor="let project of projects"
              class="subnavi-item"
              [ngClass]="{
                'selected-nav': selectedNav === project.project_name
              }"
            >
              <a
                class="subnavi-link project-side-nav"
                role="button"
                nz-tooltip
                nzTooltipTitle="{{ project.project_name }}"
                nzTooltipColor="white"
                (click)="setSelectedProject(project)"
              >
                <i class="me-2" nz-icon nzType="folder" nzTheme="outline"></i>
                <p
                  style="
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  {{ project.project_name }}
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="navi-item">
        <a
          class="navi-link"
          role="button"
          [ngClass]="{ 'selected-nav': selectedNav === 'recent' }"
          (click)="navigateTo('recent')"
        >
          <i nz-icon nzType="history" nzTheme="outline"></i>
          <div>
            <p>Recent</p>
          </div>
        </a>
      </div>
      <div class="navi-item">
        <a
          class="navi-link"
          role="button"
          [ngClass]="{ 'selected-nav': selectedNav === 'starred' }"
          (click)="navigateTo('starred')"
        >
          <i nz-icon nzType="star" nzTheme="outline"></i>
          <div>
            <p>Starred</p>
          </div>
        </a>
      </div>
      <div *ngIf="allowTrash" class="navi-item">
        <a
          class="navi-link"
          role="button"
          [ngClass]="{ 'selected-nav': selectedNav === 'trash' }"
          (click)="navigateTo('trash')"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
          <div>
            <p>Trash</p>
          </div>
        </a>
      </div>
      <hr />
      <div class="navi-item">
        <a
          class="navi-link"
          role="button"
          [ngClass]="{ 'selected-nav': selectedNav === 'pmo' }"
          (click)="navigateTo('my-vault')"
        >
          <i nz-icon nzType="cloud" nzTheme="outline"></i>
          <div>
            <p>Storage</p>
          </div>
        </a>
      </div>
      <div class="storage">
        <div class="used" [ngStyle]="{ width: storageSize / 1000 + '%' }"></div>
        <div
          class="free"
          [ngStyle]="{ width: 1000 - storageSize / 1000 + '%' }"
        ></div>
      </div>
      <p class="mt-1" style="color: var(--jcva-black-80)">
        {{ storageSize.toFixed(2) }} MB used ({{
          (storageSize * 1000000).toFixed(0) | number: "7.0"
        }}
        bytes)
      </p>
    </div>
  </div>
  <div class="sidenav-overlay" (click)="sidenavOverlayClicked()"></div>
</nav>
