<div class="page-wrapper">
  <div class="title-nav">
    <a nz-dropdown [nzDropdownMenu]="menu">
      My Vault
      <i
        class="ms-3"
        nz-icon
        nzType="down"
        nzTheme="outline"
        style="font-size: 15px"
      ></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li
          *ngFor="let project of projects"
          nz-menu-item
          (click)="openProject(project)"
        >
          <i class="me-2" nz-icon nzType="folder" nzTheme="outline"></i>
          {{ project.project_name }}
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div class="main-content">
    <div class="file-explorer">
      <p class="file-explorer-header">Folders</p>
      <div class="folders">
        <nz-card
          class="folder-card mb-2"
          *ngFor="let folder of []; let folderIdx = index"
          [ngClass]="{
            'selected-node': selectedFile?.Key == folder.Key
          }"
          (dblclick)="openDirectory(stage, folder)"
          (click)="selectDirectory(folder)"
          nz-tooltip
          [nzTooltipTitle]="folder.name"
          nzTooltipColor="white"
        >
          <div class="file-menu-folder">
            <a
              nz-dropdown
              [nzDropdownMenu]="fileMenu1"
              nzPlacement="bottomRight"
              ><i nz-icon nzType="more"></i
            ></a>
            <nz-dropdown-menu #fileMenu1="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Add to Starred</li>
                <li nz-menu-item>Rename</li>
                <li nz-menu-item (click)="deleteFile(stage, folder)">Delete</li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <div class="folder-card-content">
            <i
              *ngIf="folder.name.indexOf('.') === -1"
              nz-icon
              nzType="folder"
              nzTheme="fill"
            ></i>
            <p>
              {{
                stageIdx +
                  1 +
                  "." +
                  (folderIdx + 1 | number: "2.0") +
                  " " +
                  folder.name
              }}
            </p>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>
