<div class="page-wrapper">
  <div class="main-content">
    <div class="file-explorer">
      <span class="file-info-header">Recently Viewed</span>
      <!-- for folder items -->
      <div class="folders">
        <nz-card
          class="folder-card mb-2"
          *ngFor="let file of folderFile"
          (click)="selectFile(file)"
        >

          <div class="file-menu">
            <a nz-dropdown [nzDropdownMenu]="fileMenu" nzPlacement="bottomRight"
              ><i nz-icon nzType="more"></i
            ></a>
            <nz-dropdown-menu #fileMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="downloadFile(file)">Download</li>
                <li *ngIf="file.finalStarred == 0" nz-menu-item (click)="addToStarred(file, false)">Add to Starred</li>
                <li *ngIf="file.finalStarred == 1" nz-menu-item (click)="removeFromStarred(file, false)">Remove from Starred</li>
                <li nz-menu-item *ngIf="file.isDeleted != 1 && allowDelete" (click)="deleteFile(file, false)">Delete</li>
              </ul>
            </nz-dropdown-menu>
          </div>

          <div class="file-thumbnail">
            <i nz-icon [nzType]="getFileIcon(file.name)" nzTheme="fill"></i>
          </div>
          <div class="folder-card-content">
            <i
              *ngIf="file.name.indexOf('.') !== -1"
              nz-icon
              [nzType]="getFileIcon(file.name)"
              nzTheme="fill"
            ></i>
            <p
              nz-tooltip
              nzTooltipTitle="{{ file.name }}"
              nzTooltipColor="white"
            >
              {{ file.name }}
            </p>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>

<div
  [ngClass]="
    isLoadingVault ? 'preloader-overlay-show' : 'preloader-overlay-hide'
  "
  class="preloader-overlay"
>
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading Vault..."></nz-spin>
</div>

<div
  [ngClass]="
    isDownloading ? 'preloader-overlay-show' : 'preloader-overlay-hide'
  "
  class="preloader-overlay"
>
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Retrieving file..."></nz-spin>
</div>

<div
  [ngClass]="isDeleting ? 'preloader-overlay-show' : 'preloader-overlay-hide'"
  class="preloader-overlay"
>
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Deleting file..."></nz-spin>
</div>