.project-name-inside{
    margin:0 !important;
}

.welcome-page {
    text-align: center;
    margin-top:8rem;
}

.welcome-page img {
    margin-top:-75px;
}

.welcome-text {
    margin: 0 auto;
    font-size: 3.5em;
    text-transform: uppercase;
    color:#577897;
}

.name-text {
    font-weight: bold;
    text-transform: capitalize;
}

.file-explorer {
    width:100% !important;
}

.welcome-image {
    width: 75%;

}