<div class="page-wrapper">
  <span *ngIf="selectedProject" class="file-info-header project-name-inside">{{ selectedProject.project_name }}</span>
  <div class="main-content">
    <div class="file-explorer">
      <div *ngIf="!selectedProject" class="welcome-page">
        <!-- <h1 class="file-info-header welcome-text">Welcome to</h1> -->
        <img class="welcome-image" src="assets/logos/WelcomeLogo.png">

      </div>
      <!-- <div *ngIf="!selectedProject" class="methodology-links">
        <h1>PM Methodology</h1>
        <div class="flexbox">
          <div class="methodology c-links">
            <h2>INITIATION</h2>
            <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/INITIATION.jpg" width="120">
            <ul class="block m-link">
              <li><a (click)="downloadTemplate(project)">Project Charter / Business Case</a></li>
              <li><a click>Stakeholders Register</a></li>
              <li><a click>Technical Due Diligence</a></li>
              <li><a click>Responsibility Assignment Matrix</a></li>
              <li><a click>Owner's Project Requirements/Project Brief</a></li>
              <li><a click>Risk Register</a></li>
              <li><a click>High Level Budget & Schedule</a></li>
            </ul>
          </div>
          <div class="methodology c-links">
            <h2>PLAN</h2>
            <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/PLAN.jpg" width="120">
            <ul class="block m-link">
              <li><a click>Project Execution Plan</a></li>
              <li><a click>Project Quality Plan</a></li>
              <li><a click>EH&S Plan</a></li>
              <li><a click>Design Compliance Report</a></li>
              <li><a click>Value Engineering Report</a></li>
              <li><a click>Constructibility Assessment</a></li>
              <li><a click>Procurement Strategy</a></li>
              <li><a click>Tender Event Programme</a></li>
              <li><a click>Prequalification Exercise</a></li>
              <li><a click>Awarding of Contracts & Services</a></li>
              <li><a click>Authority Submissions & Approvals</a></li>
            </ul>
          </div>
          <div class="methodology c-links">
            <h2>EXECUTE</h2>
            <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/EXECUTE.jpg" width="120">
            <ul class="block m-link">
              <li><a click>Contracts Administration</a></li>
              <li><a click>Compliance with Plans & Specifications</a></li>
            </ul>
          </div>
          <div class="methodology c-links">
            <h2>MONITOR & CONTROL</h2>
            <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/MONITOR.jpg" width="120">
            <ul class="block m-link">
              <li><a click>Change Control</a></li>
              <li><a click>Cost & Programme Management</a></li>
              <li><a click>Construction Progress Reporting</a></li>
              <li><a click>QA/QC Reporting</a></li>
              <li><a click>EH&S Compliance Review</a></li>
              <li><a click>Procurement Tracking</a></li>
              <li><a click>Works Coordination</a></li>
              <li><a click>Payment Evaluation</a></li>
              <li><a click>Variation Orders Review</a></li>
            </ul>
          </div>
          <div class="methodology c-links">
            <h2>CLOSE</h2>
            <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/CLOSE.jpg" width="120">
            <ul class="block m-link">
              <li><a click>Testing & Commissioning</a></li>
              <li><a click>Defects Rectification</a></li>
              <li><a click>Final Accounts & Cost Report</a></li>
              <li><a click>Close-out Documents</a></li>
              <li><a click>Authorities Approvals and Clearances</a></li>
              <li><a click>Vendors Performance Evaluation</a></li>
              <li><a click>Service Level Agreements & Preventive Maintenance Schedules</a></li>
            </ul>
          </div>
        </div>
      </div> -->
      <nz-collapse nzAccordion *ngIf="selectedProject" class="mt-2">
        <nz-collapse-panel *ngFor="
            let stage of selectedProject.is_dnb_traditional === 'dnb'
              ? stagesDnB
              : stagesTraditional;
            let stageIdx = index
          " [nzHeader]="stage.name" [nzActive]="stage.active">
          <div class="folder-breadcrumb">
            <nz-breadcrumb>
              <nz-breadcrumb-item *ngFor="let breadcrumb of stage.breadcrumbs; let i = index">
                <i *ngIf="i === 0" nz-icon nzType="home" nzTheme="outline" class="me-2"></i>
                <a (click)="navigateBreadcrumb(stage, i)">{{ breadcrumb }}</a>
              </nz-breadcrumb-item>
            </nz-breadcrumb>
          </div>
          <p class="file-explorer-header">Folders</p>
          <div class="folders">
            <nz-card *ngIf="stage.currDirLevel > 3" class="folder-card-add mb-2" (click)="openFolderUploadModal(stage)">
              <div *ngIf="isMobile" class="file-thumbnail" (click)="openDirectory(stage, folder)">
                <img class="mobile-icon" src="assets/icons/Icon_New Folder.svg">
              </div>
              <div class="folder-card-content">
                <img src="assets/icons/Icon_New Folder.svg" alt="" />
                <p>New Folder</p>
              </div>
            </nz-card>
            <nz-card class="folder-card mb-2" *ngFor="
                let folder of getSubdirectory(stage, true);
                let folderIdx = index
              " [ngClass]="{
                'selected-node': selectedFile?.Key == folder.Key
              }" (dblclick)="openDirectory(stage, folder)" (click)="selectDirectory(folder)">
              <div class="file-menu-folder">
                <a nz-dropdown [nzDropdownMenu]="fileMenu1" nzPlacement="bottomRight"><i nz-icon nzType="more"></i></a>
                <nz-dropdown-menu #fileMenu1="nzDropdownMenu">
                  <ul nz-menu>
                    <li *ngIf="folder.finalStarred == 0" nz-menu-item (click)="addToStarred(folder, true)">Add to
                      Starred</li>
                    <li *ngIf="folder.finalStarred == 1" nz-menu-item (click)="removeFromStarred(folder, true)">Remove
                      from Starred</li>
                    <li *ngIf="stage.currDirLevel > 3 && allowDelete" (click)="openRenameModal(folder, stage)"
                      nz-menu-item>Rename</li>
                    <li *ngIf="stage.currDirLevel > 3 && !folder.deleted && allowDelete" nz-menu-item
                      (click)="deleteFile(folder, true)">Delete</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
              <div *ngIf="isMobile" class="file-thumbnail" (click)="openDirectory(stage, folder)">
                <img class="mobile-icon" src="assets/icons/mobile/Icon_Folder.svg">
              </div>
              <div class="folder-card-content" (click)="openDirectory(stage, folder)">
                <img *ngIf="isMobile" src="assets/icons/mobile/Icon_Folder.svg">
                <i *ngIf="folder.name.indexOf('.') === -1 && !isMobile" nz-icon nzType="folder" nzTheme="fill"></i>
                <p *ngIf="!folder.newName">
                  {{
                  stageIdx +
                  1 +
                  "." +
                  (folderIdx + 1 | number: "2.0") +
                  " " +
                  folder.name
                  }}
                </p>
                <p *ngIf="folder.newName">
                  {{
                  stageIdx +
                  1 +
                  "." +
                  (folderIdx + 1 | number: "2.0") +
                  " " +
                  folder.newName
                  }}
                </p>
              </div>
            </nz-card>
          </div>

          <p *ngIf="stage.currDirLevel > 3" class="file-explorer-header">
            Files
          </p>
          <div class="folders">
            <nz-card *ngIf="stage.currDirLevel > 3" class="folder-card-add mb-2" (click)="openFileUploadModal(stage)">
              <div class="file-thumbnail">
                <img class="mobile-file-icon" src="assets/icons/Icon_New File.svg" alt="" />
              </div>
              <div class="folder-card-content">
                <img src="assets/icons/Icon_New File.svg" alt="" />
                <p>New File</p>
              </div>
            </nz-card>
            <nz-card class="folder-card mb-2" *ngFor="let file of getSubdirectory(stage, false)" [ngClass]="{
                'selected-node': selectedFile?.Key == file.Key
              }" (click)="selectFile(file)">
              <div class="file-menu">
                <a nz-dropdown [nzDropdownMenu]="fileMenu" nzPlacement="bottomRight"><i nz-icon nzType="more"></i></a>
                <nz-dropdown-menu #fileMenu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="downloadFile(file)">Download</li>
                    <li *ngIf="file.finalStarred == 0" nz-menu-item (click)="addToStarred(file, false)">Add to Starred
                    </li>
                    <li *ngIf="file.finalStarred == 1" nz-menu-item (click)="removeFromStarred(file, false)">Remove from
                      Starred</li>
                    <li nz-menu-item *ngIf="allowDelete" (click)="openRenameModal(file, stage)">Rename</li>
                    <li *ngIf="!file.deleted && allowDelete" nz-menu-item (click)="deleteFile(file, false)">Delete</li>
                    <li nz-menu-item (click)="copyLocation(file)">Copy location</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
              <div class="file-thumbnail">
                <i *ngIf="isMobile" class="mobile-file-icon-svg" nz-icon [nzType]="getFileIcon(file.name)"
                  nzTheme="outline"></i>
                <i *ngIf="!isMobile" nz-icon [nzType]="getFileIcon(file.name)" nzTheme="fill"></i>
              </div>
              <div class="folder-card-content">
                <i *ngIf="file.name.indexOf('.') !== -1 && isMobile" nz-icon [nzType]="getFileIcon(file.name)"
                  nzTheme="outline"></i>
                <i *ngIf="file.name.indexOf('.') !== -1 && !isMobile" nz-icon [nzType]="getFileIcon(file.name)"
                  nzTheme="fill"></i>

                <p nz-tooltip nzTooltipTitle="{{ file.name }}" nzTooltipColor="white" *ngIf="!file.newName">
                  {{ file.name }}
                </p>
                <p nz-tooltip nzTooltipTitle="{{ file.name }}" nzTooltipColor="white" *ngIf="file.newName">
                  {{ file.newName }}
                </p>
              </div>
            </nz-card>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div id="clipboard-toast">Copied to clipboard</div>

    <div class="file-info">
      <p class="file-info-header">My Vault</p>
      <p class="file-info-subtext">
        Select a file or folder to view its details
      </p>
      <div>
        <div *ngIf="selectedFile">
          <div class="folder-icon">
            <i class="mt-2 mb-2" nz-icon [nzType]="
                selectedFile.Key.indexOf('.') === -1 ? 'folder' : 'file'
              " nzTheme="outline"></i>
          </div>
          <div class="file-metadata">
            <p>
              File Name:
              {{
              selectedFile.Key.indexOf(".") === -1
              ? selectedFile.Key.split("/")[
              selectedFile.Key.split("/").length - 2
              ]
              : selectedFile.Key.split("/")[
              selectedFile.Key.split("/").length - 1
              ]
              }}
            </p>
            <p>
              Type:
              {{ selectedFile.Key.indexOf(".") === -1 ? "Folder" : "File" }}
            </p>
            <p>
              Size: {{ (selectedFile.Size / 1000000).toFixed(2) }} MB ({{
              selectedFile.Size
              }}
              bytes)
            </p>
            <p>
              Storage used: {{ (selectedFile.Size / 1000000).toFixed(2) }} MB
              ({{ selectedFile.Size }}
              bytes)
            </p>
            <p>Location: My Vault</p>
            <p>Owner: {{ selectedFile.Owner.DisplayName }}</p>
            <p>Modified: {{ getFormattedDate(selectedFile.LastModified) }}</p>
            <!-- <p>Opened: Dec 25, 2020 by me</p>
            <p>Created: Dec 23, 2020</p> -->
          </div>
        </div>
        <div *ngIf="!selectedFile">
          <nz-empty nzNotFoundContent="No selected file/folder." style="margin-top: 2rem" class="no-selected">
          </nz-empty>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!selectedProject" class="methodology-links">
    <h1>PM Methodology</h1>
    <div class="flexbox">
      <div class="methodology c-links">
        <h2>INITIATION</h2>
        <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/INITIATION.jpg" width="120">
        <ul class="block m-link">
          <li><a (click)="downloadTemplate(project)">Project Charter / Business Case</a></li>
          <li><a click>Stakeholders Register</a></li>
          <li><a click>Technical Due Diligence</a></li>
          <li><a click>Responsibility Assignment Matrix</a></li>
          <li><a click>Owner's Project Requirements/Project Brief</a></li>
          <li><a click>Risk Register</a></li>
          <li><a click>High Level Budget & Schedule</a></li>
        </ul>
      </div>
      <div class="methodology c-links">
        <h2>PLAN</h2>
        <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/PLAN.jpg" width="120">
        <ul class="block m-link">
          <li><a click>Project Execution Plan</a></li>
          <li><a click>Project Quality Plan</a></li>
          <li><a click>EH&S Plan</a></li>
          <li><a click>Design Compliance Report</a></li>
          <li><a click>Value Engineering Report</a></li>
          <li><a click>Constructibility Assessment</a></li>
          <li><a click>Procurement Strategy</a></li>
          <li><a click>Tender Event Programme</a></li>
          <li><a click>Prequalification Exercise</a></li>
          <li><a click>Awarding of Contracts & Services</a></li>
          <li><a click>Authority Submissions & Approvals</a></li>
        </ul>
      </div>
      <div class="methodology c-links">
        <h2>EXECUTE</h2>
        <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/EXECUTE.jpg" width="120">
        <ul class="block m-link">
          <li><a click>Contracts Administration</a></li>
          <li><a click>Compliance with Plans & Specifications</a></li>
        </ul>
      </div>
      <div class="methodology c-links">
        <h2>MONITOR & CONTROL</h2>
        <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/MONITOR.jpg" width="120">
        <ul class="block m-link">
          <li><a click>Change Control</a></li>
          <li><a click>Cost & Programme Management</a></li>
          <li><a click>Construction Progress Reporting</a></li>
          <li><a click>QA/QC Reporting</a></li>
          <li><a click>EH&S Compliance Review</a></li>
          <li><a click>Procurement Tracking</a></li>
          <li><a click>Works Coordination</a></li>
          <li><a click>Payment Evaluation</a></li>
          <li><a click>Variation Orders Review</a></li>
        </ul>
      </div>
      <div class="methodology c-links">
        <h2>CLOSE</h2>
        <img class="c-image" src="https://vault.jcvassociates.ph/assets/logos/CLOSE.jpg" width="120">
        <ul class="block m-link">
          <li><a click>Testing & Commissioning</a></li>
          <li><a click>Defects Rectification</a></li>
          <li><a click>Final Accounts & Cost Report</a></li>
          <li><a click>Close-out Documents</a></li>
          <li><a click>Authorities Approvals and Clearances</a></li>
          <li><a click>Vendors Performance Evaluation</a></li>
          <li><a click>Service Level Agreements & Preventive Maintenance Schedules</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="
    isLoadingVault ? 'preloader-overlay-show' : 'preloader-overlay-hide'
  " class="preloader-overlay">
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading Vault..."></nz-spin>
</div>

<div [ngClass]="
    isDownloading ? 'preloader-overlay-show' : 'preloader-overlay-hide'
  " class="preloader-overlay">
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Retrieving file..."></nz-spin>
</div>

<div [ngClass]="isDeleting ? 'preloader-overlay-show' : 'preloader-overlay-hide'" class="preloader-overlay">
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Deleting file..."></nz-spin>
</div>

<nz-modal [(nzVisible)]="isVisible" nzMaskClosable="false" nzTitle="{{
    uploadForm.get('uploadType').value === '2' ? 'New Folder' : 'New  File'
  }}" (nzOnCancel)="closeUploadModal()">
  <form [formGroup]="uploadForm" (ngSubmit)="submitUpload()">
    <ng-container *nzModalContent>
      <div *ngIf="uploadForm.get('uploadType').value === '1'">
        <nz-upload [(nzFileList)]="fileList" nzMultiple="true" [nzBeforeUpload]="beforeUpload">
          <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
        </nz-upload>
      </div>
      <div *ngIf="uploadForm.get('uploadType').value === '2'">
        <nz-input-group nzAddOnBefore="Folder name:">
          <input type="text" nz-input formControlName="folderName" />
        </nz-input-group>
      </div>
    </ng-container>
    <div *nzModalFooter class="d-flex justify-content-end">
      <button [disabled]="isSubmitting" nz-button nzType="default" (click)="closeUploadModal()">
        Cancel
      </button>
      <button type="submit" nz-button nzType="primary" [nzLoading]="isSubmitting" (click)="submitUpload()">
        Submit
      </button>
    </div>
  </form>
</nz-modal>

<!-- renameForm -->
<nz-modal [(nzVisible)]="renameModalVisible" nzMaskClosable="false" nzTitle="Rename" (nzOnCancel)="closeUploadModal()">
  <form [formGroup]="renameForm" (ngSubmit)="renameSubmit()">
    <ng-container *nzModalContent>
      <p>Enter new name for <strong>{{currItemName}}</strong>:</p>
      <input type="text" nz-input formControlName="newName" />
    </ng-container>
    <div *nzModalFooter class="d-flex justify-content-end">
      <button [disabled]="isSubmitting" nz-button nzType="default" (click)="closeUploadModal()">
        Cancel
      </button>
      <button type="submit" nz-button nzType="primary" [nzLoading]="isSubmitting" (click)="renameSubmit()">
        Submit
      </button>
    </div>
  </form>
</nz-modal>