.project-name-inside{
    margin:0 !important;
}

.welcome-page {
    text-align: center;
    margin-top:8rem;
}

.welcome-page img {
    margin-top:-75px;
}

.welcome-text {
    margin: 0 auto;
    font-size: 3.5em;
    text-transform: uppercase;
    color:#577897;
}

.name-text {
    font-weight: bold;
    text-transform: capitalize;
}

.file-explorer {
    width:100% !important;
}

.welcome-image {
    width: 75%;

}

@media screen and (max-width:768px) {
  .welcome-image {
    width: 100%;
  }
  
  .mobile-icon, .mobile-file-icon {
    width: 90px;
  }

  .mobile-file-icon-svg {
    font-size: 7rem;
    color: var(--jcva-black-80);
  }
}
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }