<div class="page-wrapper">
  <div class="title-nav">
    <a nz-dropdown [nzDropdownMenu]="menu">
      My Vault
      <i
        class="ms-3"
        nz-icon
        nzType="down"
        nzTheme="outline"
        style="font-size: 15px"
      ></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li
          *ngFor="let project of projects"
          nz-menu-item
          (click)="openProject(project)"
        >
          <i class="me-2" nz-icon nzType="folder" nzTheme="outline"></i>
          {{ project }}
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div class="main-content">
    <div class="file-explorer">
      <p *ngIf="directoryLevel < 1" class="file-explorer-header">
        My Recently Opened Files
      </p>
      <div *ngIf="directoryLevel < 1" class="recent-files">
        <div *ngFor="let x of [1, 2, 3]" class="file-card">
          <nz-card nzHoverable [nzCover]="coverTemplate">
            <nz-card-meta
              nzTitle="Lorem Ipsum"
              nzDescription="Lorem ipsum"
            ></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img
              alt="example"
              src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
            />
          </ng-template>
        </div>
      </div>
      <div *ngIf="directoryLevel > 0" class="folder-breadcrumb">
        <nz-breadcrumb>
          <nz-breadcrumb-item
            *ngFor="let breadcrumb of breadcrumbs; let i = index"
          >
            <i
              *ngIf="i === 0"
              nz-icon
              nzType="home"
              nzTheme="outline"
              class="me-2"
            ></i>
            <a (click)="navigateBreadcrumb(breadcrumb, i)">{{ breadcrumb }}</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>

      <p *ngIf="directoryLevel > 0" class="file-explorer-header">Folders</p>
      <div *ngIf="directoryLevel > 0" class="folders">
        <nz-card
          *ngIf="directoryLevel > 0"
          class="folder-card-add mb-2"
          (click)="openFolderUploadModal()"
        >
          <div class="folder-card-content">
            <i nz-icon nzType="folder-add" nzTheme="fill"></i>
            <p>New Folder</p>
          </div>
        </nz-card>
        <nz-card
          class="folder-card mb-2"
          *ngFor="let node of getFolders()"
          [ngClass]="getFolderClass(node)"
          (dblclick)="openNode(node)"
          (click)="selectNode(node)"
        >
          <div class="folder-card-content">
            <i
              *ngIf="node.indexOf('.') === -1"
              nz-icon
              nzType="folder"
              nzTheme="fill"
            ></i>
            <i
              *ngIf="node.indexOf('.') !== -1"
              nz-icon
              nzType="file"
              nzTheme="fill"
            ></i>
            <p nz-tooltip nzTooltipTitle="{{ node }}" nzTooltipColor="white">
              {{ node }}
            </p>
          </div>
        </nz-card>
      </div>

      <p *ngIf="directoryLevel > 0" class="file-explorer-header">Files</p>
      <div *ngIf="directoryLevel > 0" class="folders">
        <nz-card
          *ngIf="directoryLevel > 0"
          class="folder-card-add mb-2"
          (click)="openFileUploadModal()"
        >
          <div class="file-thumbnail">
            <i nz-icon nzType="file-add" nzTheme="fill"></i>
          </div>
          <div class="folder-card-content">
            <i nz-icon nzType="file-add" nzTheme="fill"></i>
            <p>New File</p>
          </div>
        </nz-card>
        <nz-card
          class="folder-card mb-2"
          *ngFor="let node of getFiles()"
          [ngClass]="getFolderClass(node)"
          (dblclick)="openNode(node)"
          (click)="selectNode(node)"
        >
          <div class="file-thumbnail">
            <i nz-icon [nzType]="getFileIcon(node)" nzTheme="fill"></i>
          </div>
          <div class="folder-card-content">
            <i
              *ngIf="node.indexOf('.') === -1"
              nz-icon
              nzType="folder"
              nzTheme="fill"
            ></i>
            <i
              *ngIf="node.indexOf('.') !== -1"
              nz-icon
              nzType="file"
              nzTheme="fill"
            ></i>

            <p nz-tooltip nzTooltipTitle="{{ node }}" nzTooltipColor="white">
              {{ node }}
            </p>
          </div>
        </nz-card>
      </div>
    </div>
    <div class="file-info">
      <p class="file-info-header">My Vault</p>
      <p class="file-info-subtext">
        Select a file or folder to view its details
      </p>
      <ul class="mt-1" nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected (click)="selectedTab = 'Details'">
          Details
        </li>
        <li nz-menu-item (click)="selectedTab = 'Activity'">Activity</li>
      </ul>
      <div *ngIf="selectedTab === 'Details'">
        <div *ngIf="selectedFile">
          <div class="folder-icon">
            <i
              class="mt-2 mb-2"
              nz-icon
              [nzType]="
                selectedFile.Key.indexOf('.') === -1 ? 'folder' : 'file'
              "
              nzTheme="outline"
            ></i>
          </div>
          <div class="file-metadata">
            <p>
              File Name:
              {{
                selectedFile.Key.indexOf(".") === -1
                  ? selectedFile.Key.split("/")[
                      selectedFile.Key.split("/").length - 2
                    ]
                  : selectedFile.Key.split("/")[
                      selectedFile.Key.split("/").length - 1
                    ]
              }}
            </p>
            <p>
              Type:
              {{ selectedFile.Key.indexOf(".") === -1 ? "Folder" : "File" }}
            </p>
            <p>
              Size: {{ (selectedFile.Size / 1000000).toFixed(0) }} MB ({{
                selectedFile.Size
              }}
              bytes)
            </p>
            <p>
              Storage used: {{ (selectedFile.Size / 1000000).toFixed(0) }} MB
              ({{ selectedFile.Size }}
              bytes)
            </p>
            <p>Location: My Vault</p>
            <p>Owner: {{ selectedFile.Owner.DisplayName }}</p>
            <p>Modified: {{ getFormattedDate(selectedFile.LastModified) }}</p>
            <p>Opened: Dec 25, 2020 by me</p>
            <p>Created: Dec 23, 2020</p>
          </div>
        </div>
        <div *ngIf="!selectedFile">
          <nz-empty
            nzNotFoundContent="No selected file/folder."
            style="margin-top: 2rem"
          ></nz-empty>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  [ngClass]="
    isLoadingVault ? 'preloader-overlay-show' : 'preloader-overlay-hide'
  "
  class="preloader-overlay"
>
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading Vault..."></nz-spin>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{
    uploadForm.get('uploadType').value === '2' ? 'New Folder' : 'New  File'
  }}"
  (nzOnCancel)="closeUploadModal()"
>
  <form [formGroup]="uploadForm" (ngSubmit)="submitUpload()">
    <ng-container *nzModalContent>
      <!-- <p style="font-size: 1rem; color: var(--jcva-black-80)" class="mb-2">
        Location:
      </p>
      <ul
        nz-menu
        nzMode="inline"
        style="padding: 1rem; border: 1px solid var(--jcva-black-40)"
        class="mb-3"
      >
        <li
          *ngFor="let folder of getFolders()"
          nz-submenu
          [nzTitle]="folder"
          nzIcon="folder"
        >
          <ul>
            <li nz-submenu nzTitle="Submenu">
              <ul>
                <li nz-menu-item>Option 7</li>
                <li nz-menu-item>Option 8</li>
                <li nz-submenu nzTitle="Submenu">
                  <ul>
                    <li nz-menu-item>Option 9</li>
                    <li nz-menu-item>Option 10</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul> -->
      <!-- <nz-radio-group formControlName="uploadType" class="mb-3">
        <label nz-radio nzValue="1">Upload File</label>
        <label nz-radio nzValue="2">Create New Folder</label>
      </nz-radio-group> -->
      <div *ngIf="uploadForm.get('uploadType').value === '1'">
        <nz-upload
          [(nzFileList)]="fileList"
          nzMultiple="true"
          [nzBeforeUpload]="beforeUpload"
        >
          <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
        </nz-upload>
      </div>
      <div *ngIf="uploadForm.get('uploadType').value === '2'">
        <nz-input-group nzAddOnBefore="Folder name:">
          <input type="text" nz-input formControlName="folderName" />
        </nz-input-group>
      </div>
    </ng-container>
    <div *nzModalFooter class="d-flex justify-content-end">
      <button
        [disabled]="isSubmitting"
        nz-button
        nzType="default"
        (click)="closeUploadModal()"
      >
        Cancel
      </button>
      <button
        type="submit"
        nz-button
        nzType="primary"
        [nzLoading]="isSubmitting"
        (click)="submitUpload()"
      >
        Submit
      </button>
    </div>
  </form>
</nz-modal>
