<div class="page-wrapper">
  <div class="main-content">
    <div class="file-explorer">
    <span class="file-info-header trashed-label">Trashed Items</span>
    <!-- folder generation -->
      <h5 *ngIf="isFolder">Folders</h5>
      <div class="folders starred-folders">
        <nz-card
          class="folder-card mb-2"
          *ngFor="let file of folderList"
          (click)="selectDirectory(file)"
        >
          <div *ngIf="file.name.indexOf('.') == -1">
            <div class="file-menu">
              <a nz-dropdown [nzDropdownMenu]="fileMenu" nzPlacement="bottomRight"
                ><i nz-icon nzType="more"></i
              ></a>
              <nz-dropdown-menu #fileMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="untrash(file, true)">Restore Item</li>
                  <li nz-menu-item (click)="deleteForever(file, true)">Permanently Delete</li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <div class="folder-icon starred-folder">
              <img *ngIf="isMobile" class="mobile-icon" src= "assets/icons/mobile/Icon_Folder.svg">
              <i
              *ngIf="!isMobile"
              nz-icon
              nzType="folder"
              nzTheme="fill"
              ></i>
            </div>
            <div class="folder-card-content">
              <img *ngIf="isMobile" src= "assets/icons/mobile/Icon_Folder.svg">
              <i
                *ngIf="!isMobile"
                nz-icon
                nzType="folder"
                nzTheme="fill"
              ></i>
              <p>
                {{ file.name }}
              </p>
            </div>
          </div>
        </nz-card>
      </div>

      <!-- Line break -->
      <hr *ngIf="isFile">

      <!-- For Files -->
      <h5 *ngIf="isFile">Files</h5>
      <div class="folders starred-files">

        <nz-card
          class="folder-card mb-2"
          *ngFor="let file of fileList"
          (click)="selectFile(file)"
        >
          <div *ngIf="file.name.indexOf('.') !== -1">
            <div class="file-menu">
              <a nz-dropdown [nzDropdownMenu]="fileMenu" nzPlacement="bottomRight"
                ><i nz-icon nzType="more"></i
              ></a>
              <nz-dropdown-menu #fileMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="untrash(file, false)">Restore Item</li>
                  <li nz-menu-item (click)="deleteForever(file, false)">Permanently Delete</li>
                </ul>
              </nz-dropdown-menu>
            </div>

            <div class="file-thumbnail">
              <i *ngIf="isMobile" class="mobile-file-icon-svg" nz-icon [nzType]="getFileIcon(file.name)" nzTheme="outline"></i>
              <i *ngIf="!isMobile" nz-icon [nzType]="getFileIcon(file.name)" nzTheme="fill"></i>
            </div>
            <div class="folder-card-content">
              <i
                *ngIf="file.name.indexOf('.') !== -1 && isMobile"
                nz-icon
                [nzType]="getFileIcon(file.name)"
                nzTheme="outline"
              ></i>
              <i
                *ngIf="file.name.indexOf('.') !== -1 && !isMobile"
                nz-icon
                [nzType]="getFileIcon(file.name)"
                nzTheme="fill"
              ></i>
              <p
                nz-tooltip
                nzTooltipTitle="{{ file.name }}"
                nzTooltipColor="white"
              >
                {{ file.name }}
              </p>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
    <div class="file-info">
      <p class="file-info-header file-detail-info">Trashed</p>
      <p class="file-info-subtext">
        Select a file or folder to view its details
      </p>
      <div>
        <div *ngIf="selectedFile">
          <div class="folder-icon">
            <i
              class="mt-2 mb-2"
              nz-icon
              [nzType]="
                selectedFile.Key.indexOf('.') === -1 ? 'folder' : 'file'
              "
              nzTheme="outline"
            ></i>
          </div>
          <div class="file-metadata">
            <p>
              File Name:
              {{
                selectedFile.Key.indexOf(".") === -1
                  ? selectedFile.name
                  : selectedFile.Key.split("/")[selectedFile.Key.split("/").length - 1]
              }}
            </p>
            <p>
              Type:
              {{ selectedFile.Key.indexOf(".") === -1 ? "Folder" : "File" }}
            </p>
            <p>Location: My Vault</p>
          </div>
        </div>
        <div *ngIf="!selectedFile">
          <nz-empty
            nzNotFoundContent="No selected file/folder."
            style="margin-top: 2rem"
          ></nz-empty>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  [ngClass]="
    isLoadingVault ? 'preloader-overlay-show' : 'preloader-overlay-hide'
  "
  class="preloader-overlay"
>
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading Vault..."></nz-spin>
</div>

<div
  [ngClass]="
    isDownloading ? 'preloader-overlay-show' : 'preloader-overlay-hide'
  "
  class="preloader-overlay"
>
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Retrieving file..."></nz-spin>
</div>

<div
  [ngClass]="isDeleting ? 'preloader-overlay-show' : 'preloader-overlay-hide'"
  class="preloader-overlay"
>
  <nz-spin nzSimple [nzSize]="'large'" nzTip="Deleting file..."></nz-spin>
</div>