<div class="toolbar-sm">
  <!-- <a (click)="sidenavBtnClicked()">
      <i class="menu-icon fas fa-bars fa-2x"></i>
    </a> -->
  <img
    class="h-100 ml-2"
    src="assets/logos/Logo Icon_Agile_Reversed.svg"
    alt=""
  />
  <span class="filler"></span>
  <img class="search-icon" src="assets/icons/Icon_Search_White.svg" alt="" />
  <div class="user-avatar user-avatar-sm ml-3"></div>
  <div class="user-avatar user-avatar-sm ml-3">
    <img />
  </div>
</div>

<div id="jcva-toolbar" class="toolbar">
  <!-- <a class="mr-4" (click)="toggleSidenav()">
      <i id="sidenav-toggle" class="fas fa-angle-left fa-3x sidenav-toggle"></i>
    </a> -->
  <div class="input-with-icon">
    <div class="search-input-icon">
      <i class="fas fa-search"></i>
    </div>
    <input class="search-input" type="text" placeholder="Search in Vault" />
    <div class="filter-input-icon">
      <i class="fas fa-filter"></i>
    </div>
  </div>
  <span class="filler"></span>
  <i class="fas fa-cog fa-2x" style="color: white; margin-right: 2rem"></i>
  <div class="user-avatar user-avatar-sm mr-3">
    {{
      "Mike".substring(0, 1).toUpperCase() +
        "Cagampan".substring(0, 1).toUpperCase()
    }}
  </div>
</div>
