<div id="jcva-toolbar" class="toolbar">
  <span class="filler"></span>
  <div *ngIf="userInfo" class="ml-4 toolbar-dropdown">
    <div class="dropdown-container">
      <a nz-dropdown [nzDropdownMenu]="menu" class="dropdown-anchor" nzTrigger="click">
        <span class="filler"></span>
        <span>{{ currentProjectName }}</span>
        <span class="filler"></span>
        <i
          class="ms-3"
          nz-icon
          nzType="down"
          nzTheme="outline"
          style="font-size: 15px"
        ></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li
            *ngFor="let project of projects"
            nz-menu-item
            (click)="openProject(project)"
          >
            <i class="me-2" nz-icon nzType="folder" nzTheme="outline"></i>
            <span>{{ project.project_name }}</span>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <!-- <i class="fas fa-cog fa-2x" style="color: white; margin-right: 2rem"></i> -->
  <div *ngIf="userInfo" class="user-avatar user-avatar-sm mr-3">
    <a nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
      {{
        userInfo.first_name.substring(0, 1).toUpperCase() +
          userInfo.last_name.substring(0, 1).toUpperCase()
      }}
    </a>
    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="openLogoutModal()">Logout</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Logout"
  (nzOnCancel)="closeLogoutModal()"
>
  <ng-container *nzModalContent>
    <p>Are you sure you want to logout?</p>
  </ng-container>
  <div *nzModalFooter class="d-flex justify-content-end">
    <button nz-button nzType="default" (click)="closeLogoutModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="logout()">Yes</button>
  </div>
</nz-modal>
