<div id="jcva-toolbar" class="toolbar">
  <!-- <a class="mr-4" (click)="toggleSidenav()">
      <i id="sidenav-toggle" class="fas fa-angle-left fa-3x sidenav-toggle"></i>
    </a> -->
  <div class="input-with-icon">
    <div class="search-input-icon">
      <i class="fas fa-search"></i>
    </div>
    <input class="search-input" type="text" placeholder="Search in Vault" />
    <div class="filter-input-icon">
      <i class="fas fa-filter"></i>
    </div>
  </div>
  <span class="filler"></span>
  <i class="fas fa-cog fa-2x" style="color: white; margin-right: 2rem"></i>
  <div class="user-avatar user-avatar-sm mr-3">
    {{
      "Mike".substring(0, 1).toUpperCase() +
        "Cagampan".substring(0, 1).toUpperCase()
    }}
  </div>
</div>
