:root {
  --jcva-orange: #7fb1ff;
  --jcva-orange-40: #f1b89d;
  --jcva-orange-50: #f1a37e;
  --jcva-black-80: #58595b;
  --jcva-black-70: #737477;
  --jcva-black-60: #8f9094;
  --jcva-black-50: #aaacb0;
  --jcva-black-40: #c5c7cc;
  --jcva-white: #ffffff;
  --jcva-background: #f1f1f2;
  --jcva-steel-blue: #577897;

  --jcva-sec-orange: #f16522;
  --jcva-ind-red: #ef4123;
  --jcva-ind-green: #93db51;
  --jcva-ind-yellow: #ffdd15;
  --jcva-ind-teal: #1ed6a5;
  --jcva-blue: #00adee;
  --jcva-pink: #ec649d;
  --jcva-green: #1ed6a5;
}

$theme-colors: (
  // "primary": #352463,
  "secondary": #ffffff
);

@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "Nimbus Sans L";
  src: local("Nimbus Sans L"),
    url(./assets/fonts/NimbusSanL-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Nimbus Sans L";
  font-weight: 900;
  src: local("Nimbus Sans L Bold"),
    url(./assets/fonts/NimbusSanL-Bold.otf) format("opentype");
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  font-family: "Nimbus Sans L";
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a,
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--jcva-black-80);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--jcva-black-50);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--jcva-black-50);
}

// BOOTSTRAP CUSTOM STYLES
.alert-danger {
  color: var(--jcva-white);
  background-color: var(--jcva-ind-red);
  border-color: var(--jcva-ind-red);
}

// ANT DESIGN CUSTOM STYLES
.ant-dropdown-link {
  display: flex;
  align-items: center;
  color: var(--jcva-black-80);
}

.ant-card {
  border-radius: 8px;
}

.ant-card-cover img {
  border-radius: 8px 8px 0 0;
}

.ant-card-meta-title {
  color: var(--jcva-black-80);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: var(--jcva-black-80);
  border-bottom: 2px solid var(--jcva-orange);
}

.ant-breadcrumb > nz-breadcrumb-item:last-child a {
  color: var(--jcva-black-80);
}

.ant-tooltip-inner {
  color: var(--jcva-black-80);
}

.ant-radio-checked .ant-radio-inner {
  border-color: var(--jcva-steel-blue);
}

.ant-radio-inner::after {
  background-color: var(--jcva-steel-blue);
}

.ant-menu-item-selected {
  color: var(--jcva-steel-blue);
}

.ant-menu-submenu-selected {
  color: var(--jcva-orange);
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: var(--jcva-orange);
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid var(--jcva-orange);
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.ant-btn {
  display: flex;
  align-items: center;
}

.ant-btn:hover,
.ant-btn:focus {
  color: var(--jcva-steel-blue);
  background: #fff;
  border-color: var(--jcva-steel-blue);
}

.ant-btn-primary {
  background: var(--jcva-orange);
  border-color: var(--jcva-orange);
}

.ant-btn-primary:hover {
  color: #fff;
  background: var(--jcva-steel-blue);
  border-color: var(--jcva-steel-blue);
}

.ant-spin {
  color: white;
}

.ant-spin-dot-item {
  background-color: white;
}

.anticon {
  vertical-align: 0;
}

.ant-empty-description {
  color: var(--jcva-black-80);
}

// GLOBAL STYLES
.jcva-card-header {
  color: var(--jcva-black-80);
  font-size: 1.5rem;
}

.jcva-card-header-orange {
  color: var(--jcva-orange);
  font-size: 1.5rem;
}

.input-label {
  font-size: 0.85rem;
  color: var(--jcva-black-80);
}

.input-label-white {
  font-size: 0.85rem;
  color: var(--jcva-white);
}

.jcva-btn,
.jcva-btn-lg {
  color: #fff;
  background-color: var(--jcva-orange);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid var(--jcva-orange);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
  border-radius: 5px;

  &:hover {
    background-color: #cbddfa;
    border-color: #cbddfa;
    color: white;
  }

  &:active {
    color: var(--jcva-orange);
    background-color: var(--jcva-white);
    border-color: var(--jcva-orange);
  }
}

.jcva-btn {
  padding: 0.65rem 1.25rem 0.55rem;
}

.jcva-btn-lg {
  padding: 0.85rem 1.25rem 0.75rem;
}

.jcva-input,
.jcva-input-white {
  display: block;
  width: 100%;
  padding: 0.425rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--jcva-black-50);
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out;
}

.jcva-input {
  height: calc(1em + 1.25rem + 5px);
  border: 1px solid var(--jcva-black-80);

  &:focus {
    color: var(--jcva-black-80);
    background-color: #fff;
    outline: 0;
  }
}

.jcva-input-white {
  height: calc(1em + 1.25rem + 5px);
  border: none;

  &:focus {
    border-color: none;
  }
}

.user-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--jcva-black-80);
  color: white;
  font-weight: 900;

  a {
    color: white;
  }

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.user-avatar-sm {
  width: 36px;
  height: 36px;
  font-size: 1.2rem;
}

.user-avatar-lg {
  width: 56px;
  height: 56px;
  font-size: 2rem;
}

.filler {
  flex: 1;
}

.page-wrapper {
  margin-top: 80px;
  margin-left: 300px;
  padding: 1.5rem 3rem;
  transition: all 0.3s;
}

// vault directory view
.ant-dropdown-link {
  font-size: 1.5rem;
}

.ant-menu-horizontal {
  display: flex;
  color: var(--jcva-black-80);

  li {
    flex: 1;
    margin: 0 1.5rem;
    text-align: center;
  }
}

.ant-dropdown-menu-item > .anticon:first-child,
.ant-dropdown-menu-submenu-title > .anticon:first-child,
.ant-dropdown-menu-item > a > .anticon:first-child,
.ant-dropdown-menu-submenu-title > a > .anticon:first-child,
.ant-dropdown-menu-item > span > .anticon:first-child,
.ant-dropdown-menu-submenu-title > span > .anticon:first-child {
  vertical-align: 0;
  font-size: 18px;
}

.title-nav {
  display: flex;
  border-bottom: 1px solid var(--jcva-background);
  padding-bottom: 1rem;
}

.main-content {
  display: flex;
}

.file-explorer {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px solid var(--jcva-background);
  padding-right: 2rem;

  &-header {
    color: var(--jcva-black-80);
    margin: 2rem 0 1rem;
  }
}

.recent-files,
.folders {
  display: flex;
  flex-wrap: wrap;
}

nz-card {
  .ant-card-body {
    padding: 12px 24px !important;
  }
}

.file-card,
.folder-card,
.folder-card-add {
  width: 32%;
  margin-right: 1%;
}

.selected-node {
  background: #f2f7ff;
}

.folder-card:hover {
  cursor: pointer;
  border: 1px solid var(--jcva-orange);

  .file-menu,
  .file-menu-folder {
    display: flex;
  }
}

.folder-card-add {
  border: 1px dashed var(--jcva-black-40);
}

.folder-card-add:hover {
  cursor: pointer;
  border: 1px dashed var(--jcva-orange);
}

.file-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;

  i {
    font-size: 4rem;
  }

  img {
    width: 56px;
  }
}

.file-menu-folder {
  display: none;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  left: 0;
  top: 0;
  right: 0.5rem;
  bottom: 0;

  a:hover {
    cursor: pointer;
  }
}

.file-menu {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 1rem;

  a:hover {
    cursor: pointer;
  }
}

.folder-card-content {
  display: flex;
  align-items: center;

  i {
    font-size: 1.5rem;
    color: var(--jcva-black-80);
    margin-right: 1.5rem;
  }

  img {
    width: 24px;
    color: var(--jcva-black-80);
    margin-right: 1.5rem;
  }

  p {
    color: var(--jcva-black-80);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.file-info {
  width: 30%;
  padding: 1rem 0;

  &-header,
  &-subtext {
    margin: 0 2rem;
  }
}

.file-info-header {
  font-size: 1.75rem;
  color: var(--jcva-black-80);
}

.file-info-subtext {
  font-size: 1rem;
  color: var(--jcva-black-70);
}

.folder-icon {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;

  i {
    font-size: 100px;
  }
}

.file-metadata {
  padding: 0 2rem;

  p {
    font-size: 0.95rem;
    color: var(--jcva-black-70);
    word-break: break-all;
  }
}

.folder-breadcrumb {
  margin-top: 1rem;
}

.preloader-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #577897de;
  z-index: 3;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0.5s, opacity 0.5s ease-in-out;
  -webkit-transition: visibility 0.5s, opacity 0.5s ease-in-out;

  &-show {
    opacity: 1;
    visibility: visible;
  }

  &-hide {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 576px) {
  html,
  body {
    font-size: 13px;
  }

  .jcva-btn-lg {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1600px) {
}
